.green {
  color: green !important;
}

.red {
  color: red !important;
}

.black {
  color: black !important;
}

.category-title {
  margin-top: 0 !important;
}

.item-inner {
  padding-left: 8px;
}

.item-md {
  padding-left: 0;
}

.item-ios {
  padding-left: 0;
}