.md, .ios {

  listes-modal-espece-page {

    .middle-of-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -100%);
      font-size: 72px;
      color: black;
      opacity: 30%;
      animation: fadeIn 0.5s linear;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 30%;
      }
    }

  }
}