<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons start>
            <button ion-button (click)="backToHome()">{{ 'ACCUEIL' | translate }}</button>
        </ion-buttons>
        <ion-title>{{ 'CARTE' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="backToInsert()">{{ 'ENREGISTRER' | translate }}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-icon class="middle-of-map" name="locate"></ion-icon>
    <div id="olmap" data-tap-disabled="true"></div>
</ion-content>

<ion-footer *ngIf="currentLoc">
    <ion-toolbar>
        <div padding-left>{{currentLoc.X}} / {{currentLoc.Y}} <span *ngIf="currentLoc.pr">(&plusmn;{{currentLoc.pr}} m)</span><br *ngIf="currentLoc.alti">
            <span *ngIf="currentLoc.alti">{{currentLoc.alti}} m (&plusmn;{{currentLoc.pralti}} m)</span></div>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToCurrentLocation()" [disabled]="searching">
                <ion-icon name="pin" *ngIf="!searching"></ion-icon>
                <ion-spinner *ngIf="searching"></ion-spinner>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
